@model Banks
<form asp-action="AddBank" asp-controller="Employee">
    <div class="form-group">
        <label asp-for="Name">Bank Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>